<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact-us Page</title>
</head>
<body>
  <header>
     <h1>Please give your details</h1>
  </header>
  <main>
    <form action="/contact-us" method="POST">
      <input type="text"
       name="name"
        placeholder="Enter your name"/>
      <input type="text"
       name="email"
        placeholder="Enter your email"/>
        <input type="Submit"></input>
        </form>
        </main>
</body>
</html>